/* Fontes do projeto*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');



/*TOPO*/
#container{
    width: 100%;
   
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
	width: 250px;
	margin: 20px 0 20px 120px;
}

header nav{
    margin: 20px 50px 20px 0px;
    display: flex;

}

header nav a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Anton', sans-serif;
	color:#fff100;
	font-size: 20px;
	margin-left: 5px;
}

header nav a:hover{
    text-decoration: none;
    color: #fff100;
}

.iconeLupa{
    width: 15px;
}

/*Corpo*/
main{
  background-image: url(../img/fundo.jpg);

}

.carossel{
    width: 100%;
}

/*Quem Somos*/

#paiQuemSomos{
    display: flex;
    justify-content: center;
    padding: 30px;    
}

#quemSomos{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.tituloPrincipal{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

.textoquemsomos{
	width: 80%;
    font-size: 18px;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
}

/*Filmes e Séries*/
#paiFilmes{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#filmes{
    width: 80%;    
    background-color: rgba(0, 0, 0, 0.6);
    margin: 15px 5px 80px 40px;
    color: white;    
}

h2{
    margin: 40px 0 0 40px;
}

.card{
    margin: 30px;
    align-content: center;
<<<<<<< HEAD
=======

>>>>>>> 22d884652c145ccb169101f4408564dcb0b637db
}

.imgFilmes{
    width: 250px;
    margin-bottom: 15px;
}

.btn{
    background: black;
    border-color: black;
    box-shadow: 0px 0px 2px 2px #fff100;

}

/*Rodapé*/

#rodape{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

.iconesRodape{
    width: 40px;
    margin: 10px;
    align-items: center;
}












