/* Fontes do projeto*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



/*TOPO*/
#container{
    width: 100%;
   
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
	width: 300px;
	
}

header nav{
    margin: 20px 50px 20px 0px;
    display: flex;

}

nav a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Anton', sans-serif;
	color:#fff100;
	font-size: 20px;
	margin-left: 5px;
}

header nav a:hover{
    text-decoration: none;
    color: #fff100;
}

.iconeLupa{
    width: 15px;
}
.nav-bar-header{
    background-color: black!important;
    height: auto;
} 
.cor-botao {
    background-color: #fff100!important;
    border: 2px solid #fff100!important;
}
.cor-do-link {
    color: #fff100!important;
    font-size: 30px;
	margin-left: 5px;
}
.nav-bar-alinhar {
    display: flex;
    justify-content: flex-end;
}

/*Corpo*/
main{
  background-image: url(../img/fundo.jpg);
  text-align: center;

}

.carossel{
    width: 100%;
}

/*Quem Somos*/

#paiQuemSomos{
    display: flex;
    justify-content: center;
    padding: 30px;    
}

#quemSomos{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.tituloPrincipal{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

.textoquemsomos{
	width: 80%;
    font-size: 18px;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
}

/*Filmes e Séries*/
#paiFilmes{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#filmes{
    width: 80%;    
    background-color: rgba(0, 0, 0, 0.6);
    margin: 15px 5px 80px 40px;
    color: white;    
}
.fundo-especial{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    margin-top: 30px;
}
.div-filme {
    border-radius: 4px;
    padding: 10px;
}
.imagem-Filme {
    width: 100%;
    height: 90%;
    
}

h2{
    margin: 40px 0 0 40px;
}

.card{
    margin: 30px;
    align-content: center;
}

.imgFilmes{
    width: 250px;
    margin-bottom: 15px;
}

.btn{
    background: black;
    border-color: black;
    box-shadow: 0px 0px 2px 2px #fff100;
    font-family: Raleway;
    font-weight: bold;

}

/*Estilo Modal*/
.body-modal {
    background-image: url(../img/fundo.jpg);
    font: 18px;
    padding: 10px;
}
.footer-modal {
    background-color: black;
    margin: 0px;
    padding: 5px;
    border: black;
}
.modal-corpo {
    background-image: url(../img/fundo.jpg);
    border: none;
}
#textoModal{
    font-weight: bold;
    font-family: 'Raboto',sans-serif;
    opacity: 1;
    font-size: 20px;
    text-align: center;
}
/*Rodapé*/

#rodape{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    font-family: Raleway;
    font-weight: bold;
    height: 170px;
}

.iconesRodape{
    width: 40px;
    margin: 10px;
    align-items: center;
}

.btn:hover{
    background-color:#fff100;
    color: black;
    font-family: Raleway;
    font-weight: bold;
}
/*Identificadores da View*/
#logoExibicao {
    width: 150px; 
    padding-right: 40px;
 }  

/* Página de busca */

#fname{
    width: 50%;
    height: 40px;
    box-shadow: black 0px 0px 2px 2px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    border-radius: 5px;
    cursor: text;

}

#botao{
    background: black;
    border-color: black;
    box-shadow: 0px 0px 2px 2px #fff100;
    color: #fff100;
    font-family: 'Anton';
  
}

/*Div de filmes*/
#grid-de-filmes {
    background-image: url(../img/fundo.jpg);
    padding: 100px;
    
}
#html_class {
    text-align: center;
    background-color:rgba(0, 0, 0, 0.6); 
}
#filme-pesquisado {
    width: 300px;
    height: 400px;
}

#notFound{
    text-align: center;
}

#img_jon{
    box-shadow: 0px 0px 2px 2px black;
}

/*Rodapé*/











